@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,300&display=swap');
* {
    padding: 0;
    top: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    background: rgb(196, 33, 88);
    background: linear-gradient(90deg, rgba(196, 33, 88, 1) 0%, rgba(255, 243, 198, 1) 100%);
    color: rgb(31, 31, 31);
    font-family: 'Exo', sans-serif !important;
}

.header-container {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 15px;
}

.header-title {
    font-size: 25px;
    line-height: 1.447em;
    margin: 0px;
    font-family: 'Exo', sans-serif !important;
}

.container {
    position: relative;
    top: 3rem;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid var(--main-color);
    text-align: center;
}

.todos {
    display: flex;
    flex-direction: column;
    text-align: justify;
    background-color: rgb(246, 237, 237);
}

.todo-item {
    list-style-type: none;
    padding: 10px;
    border: 1px solid var(--main-color);
    position: relative;
    display: flex;
}

.todo-item input {
    margin-right: 15px;
}

.todo-item span {
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    height: 18px;
    display: inline-block;
    text-overflow: "......";
}

.completed {
    font-style: italic;
    text-decoration: line-through;
    opacity: 0.3;
    color: rgba(121, 72, 161, 0.712);
    transition: all 0.3s ease;
}

.btn-remove {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid rgb(132, 59, 181);
    padding: 5px 10px;
    background-color: rgb(248, 245, 242);
    color: rgb(132, 59, 181);
    cursor: pointer;
    outline: none;
    transition: color, background-color, border-radius;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.btn-remove:hover {
    color: rgb(248, 245, 242);
    background-color: rgb(132, 59, 181);
    border-radius: 50%;
}

.form-container {
    display: flex;
    width: 100%;
}

.input-text {
    flex: 8;
    font-size: 17px;
    padding: 10px 15px;
    background: rgb(151, 97, 144);
    border: 1px solid rgb(132, 59, 181);
    color: rgb(255, 255, 255);
    outline: none;
    width: 80%;
    transition: all 0.5s ease-in-out;
}

.input-text::placeholder {
    opacity: 0.2;
}

.input-text:focus {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.input-submit {
    border: 0.5px solid rgb(132, 59, 181);
    padding: 5px 10px;
    background-color: rgb(132, 59, 181);
    color: white;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    transition: all 0.3s ease;
}

.input-submit:hover {
    background-color: rgb(243, 243, 243);
    color: rgb(132, 59, 181);
}

i {
    pointer-events: none;
    width: 88% !important;
}

.footer {
    height: 50px;
    background: #c9a13349;
    color: white;
    position: relative;
}

.vertical-center {
    margin: 0 10px 0 10px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}

#span {
    margin-right: 10px;
}

.dot {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    border: 3px solid #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dot:active {
    height: 37px;
    width: 37px;
    border-color: #000000;
    opacity: 0.7;
}

.red {
    background-color: #ff0000;
}

.blue {
    background-color: #0000ff;
}

.purple {
    background-color: #9d56af;
}

:root {
    --main-color: #843bb5be;
}